<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Recipe.Properties.Settings.connString" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=RecipeDB;Integrated Security=True;Pooling=False"
            providerName="" />
    </connectionStrings>
</configuration>